!!!
%html
  %head
    %title= @title || 'Open Vote'
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #container
      #header
        #logo
          %h1
            %a{:href => '/'}= 'Open Vote'
      #content= yield
      #footer
        %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} Nick Plante &amp; David James &mdash;"
